html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-weight: 700;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #f2f1ef;
  overflow-x: hidden;
  overflow-y: hidden;
  cursor: crosshair;
  position: absolute;
  top: 0;
  left: 0;
}

.back {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #f2f1ef;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column nowrap;
  font-family: monospace;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 50%;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex: none;
  -webkit-box-shadow: -4px 7px 28px -10px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: -4px 7px 28px -10px rgba(0, 0, 0, 0.39);
  box-shadow: -4px 7px 28px -10px rgba(0, 0, 0, 0.39);
  font-family: monospace;
  position: absolute;
}

.container.y {
  position: absolute;
  width: 707px;
  background-color: #fff;
  height: 1080px;
  margin: auto;
  padding: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  flex-flow: column nowrap;
  text-align: center;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: monospace;
}

.container.y::-webkit-scrollbar {
  display: none;
}

.y.mandatory-scroll-snapping {
  scroll-snap-type: y mandatory;
}

.container>div {
  text-align: center;
  scroll-snap-align: center;
  flex: none;
}

.y.container>div {
  font-size: 18px;
  width: 707px;
  height: 100%;
}

.classification {
  position: absolute;
  margin: auto;
  left: 50%;
  top: 9%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 12px;
  border: 1px solid #000;
  padding: 6px;
  font-family: monospace;
}

.via {
  position: absolute;
  float: left;
  left: 0%;
  text-align: left;
  padding-top: 64px;
  padding-left: 64px;
  font-size: 12px;
  font-family: monospace;
}

.number {
  position: absolute;
  float: right;
  right: 0%;
  text-align: right;
  padding-top: 64px;
  padding-right: 64px;
  font-size: 12px;
  font-family: monospace;
}

.address {
  position: absolute;
  float: left;
  left: 0%;
  text-align: left;
  padding-top: 160px;
  padding-left: 64px;
  font-size: 12px;
  font-family: monospace;
}

.colon {
  position: absolute;
  float: left;
  left: 0%;
  text-align: left;
  padding-top: 160px;
  padding-left: 140px;
  font-size: 12px;
  font-family: monospace;
}

.names {
  position: absolute;
  float: left;
  left: 0%;
  text-align: left;
  padding-top: 160px;
  padding-left: 180px;
  font-size: 12px;
  font-family: monospace;
}

.date {
  position: absolute;
  float: right;
  right: 0%;
  font-size: 12px;
  text-align: right;
  padding-right: 64px;
  padding-top: 160px;
  font-family: monospace;
}

.underlined {
  text-decoration: underline;
  font-family: monospace;
}

.subject {
  position: absolute;
  float: left;
  left: 0%;
  text-align: left;
  padding-top: 200px;
  padding-left: 64px;
  font-size: 12px;
  font-family: monospace;
}

.colon1 {
  position: absolute;
  float: left;
  left: 0%;
  text-align: left;
  padding-top: 200px;
  padding-left: 140px;
  font-size: 12px;
  font-family: monospace;
}

.lisa {
  position: absolute;
  float: left;
  left: 0%;
  text-align: left;
  padding-top: 200px;
  padding-left: 180px;
  font-size: 12px;
  font-family: monospace;
}

.operative {
  position: absolute;
  float: left;
  left: 50%;
  text-align: left;
  transform: translateX(-50%);
  padding-top: 200px;
  font-size: 12px;
  font-family: monospace;
}

.texts {
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  position: absolute;
  width: 70%;
  padding: 0;
  margin: 0;
  text-align: justify;
  text-justify: inter-word;
  transform: translateX(22.5%);
  font-family: monospace;
}

code {
  width: 100%;
  display: inline-block;
  counter-reset: line;
  font-family: monospace;
}

code .line {
  display: block;
  counter-increment: line;
  line-height: 20px;
  font-family: monospace;
  text-indent: 36px;
}

.blackout {
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  margin: 0;
  background-color: #000;
  font-family: monospace;
  background-image: linear-gradient(to left, transparent, transparent 50%, #fff 50%, #fff);
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all 2000ms;
}

.blackout:hover {
  background-image: linear-gradient(to left, transparent, transparent 50%, #eee 50%, #eee);
  font-family: monospace;
  background-position: 0 0;
}

.information {
  z-index: 99999999999;
  visibility: hidden;
  background-color: #fff;
  font-family: monospace;
  padding: 12px;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  right: 64px;
  bottom: 64px;
  box-shadow: -4px 7px 28px -10px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: -4px 7px 28px -10px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: -4px 7px 28px -10px rgba(0, 0, 0, 0.64);
  max-width: 440px;
}

.manual {
  z-index: 99999999999;
  background-color: #fff;
  font-family: monospace;
  padding: 12px;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 380px;
  top: 20px;
  box-shadow: -4px 7px 28px -10px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: -4px 7px 28px -10px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: -4px 7px 28px -10px rgba(0, 0, 0, 0.64);
  max-width: 440px;
  transition: all 1000ms;
}

.manual:hover {
  opacity: 0;
  filter: alpha(opacity=0);
}

.bold {
  font-family: monospace;
  font-weight: 700;
}

.text-to-image {
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  margin: 0;
  font-family: monospace;
  font-size: 12px;
  background-image: linear-gradient(to left,
      transparent,
      transparent 50%,
      #ccc 50%,
      #ccc);
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: background 2000ms;
}

.text-to-image:hover {
  background-position: 0 0;
}

.no-link {
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  margin: 0;
  font-family: monospace;
  font-size: 12px;
}

.page-number {
  padding: 6px;
  position: relative;
  text-align: center;
  font-size: 12px;
  font-family: monospace;
  font-weight: 400;
  margin-top: 1000px;
}

.box {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background: white;
  mix-blend-mode: difference;
  box-shadow: 2px -3px 41px -1px rgba(250,250,250,0.64);
  position: absolute;
  transform: translate(calc(-50% - 1px), calc(-50% - 1px));
  pointer-events: none;
  z-index: 99999999999;
}
